@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --clock-green: #10b981;
  --clock-yellow: #fbbf24;
  --clock-orange: #f97316;
  --clock-red: #ef4444;
  --clock-darkred: #991b1b;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
